{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "no-param-reassign": 0
  }
}
